window_manager/local.mk	merge=ours
utils/local.mk	merge=ours
utils/geometry/local.mk	merge=ours
utils/config_parser/local.mk	merge=ours
utils/color/local.mk	merge=ours
server_lib/local.mk	merge=ours
include/local.mk	merge=ours
graph/local.mk	merge=ours
event/local.mk	merge=ours
debug/widget/local.mk	merge=ours
debug/samples/local.mk	merge=ours
debug/samples/file_browser/local.mk	merge=ours
debug/samples/calculator/local.mk	merge=ours
debug/local.mk	merge=ours
debug/lib/local.mk	merge=ours
debug/graph/local.mk	merge=ours
debug/event/local.mk	merge=ours
debug/config_parser/local.mk	merge=ours
debug/comm/local.mk	merge=ours
comm/local.mk	merge=ours
client_lib/local.mk	merge=ours
application/local.mk	merge=ours
